<include file="Public:header" />
    <form class="form-horizontal" role="form" enctype="multipart/form-data" action="__CONTROLLER__/update/id/{$vo.adminid}" method="post">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 用户名 </label>
            <div class="col-sm-9">
                <input type="text" value="{$vo.adminname}" placeholder=" 用户名" name="adminname" class="col-xs-10 col-sm-5" required />
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > password </label>
            <div class="col-sm-9">
                <input type="password" placeholder="password" name="password" class="col-xs-10 col-sm-5" />
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > repassword </label>
            <div class="col-sm-9">
                <input type="password" placeholder="repassword" name="repassword" class="col-xs-10 col-sm-5"  />
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > email </label>
            <div class="col-sm-9">
                <input type="email" placeholder="email" value="{$vo.email}" name="email" class="col-xs-10 col-sm-5" required />
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 描述 </label>
            <div class="col-sm-9">
                <textarea row="10" placeholder="描述" style="height:100px" name="description" class="autosize-transition col-xs-10 col-sm-5" required >{$vo.description}</textarea>
            </div>
        </div>
        <div class="space-4"></div>


        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 图片 </label>
            <div class="col-sm-9">
                    <a href=""><img data-toggle="modal" data-target="#modal-" src="__UPLOAD__{$vo.image}" alt="暂无图片" width="100px" class="img-thumbnail"></a></br>
                    <input type="hidden"  name="old-image" value="{$vo.image}" />
            </div>
            <div class="space-4"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                    <input type="text" readonly="true" id="viewfile" onmouseout="document.getElementById('upload').style.display='none';" class="inputstyle">
                    <label for="unload" class="btn btn-xs btn-info"  onmouseover="document.getElementById('upload').style.display='block';" class="file1">点击上传新图片...</label>
                    <input type="file" name="image" onchange="document.getElementById('viewfile').value=this.value;this.style.display='none';" class="file" id="upload" style="display: block;left: 220px; width: 110px;">
                </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 状态 </label>
            <div class="col-sm-9">
                <label>
                    <input name="status" id="status" class="ace ace-switch ace-switch-7" type="checkbox">
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    清除
                </button>
            </div>
        </div>

    </form>
<script> //初始状态js
    $(document).ready(function(){
        var status = {$vo.status}; //设置初始状态
        if (status == 1) { //状态位一
            document.getElementById("status").checked=true
        }
        });
</script>
<include file="Public:footer" />
