
<extend name="Public:base" />
<block name="content">
    <div class="container content">
        <div class="col-md-8 col-sm-8 col-xs-12 left">
            <article>
                <include file="Public:article-header" />
                <div class="entry-content">
                    {$art_vo.content}
                </div>

                <div class="entry-tags tag-links">
                    <volist name="art_vo.tags" id="tag_vo">
                        <a href="{$tag_vo.url}" rel="tag">{$tag_vo.name}</a>

                    </volist>
                </div>

            </article>
        </div>

        <include file="Public:right" />
    </div>
</block>
