
<extend name="Public:base" />
<block name="content">
<div class="container marketing thumbnail note" >
        <div style="background-color:white;padding:40px 40px; ">
        <volist name="list" id="vo">
            <div class="media" >
                <a class="pull-left" href="{:U('admin/'.$vo['adminid'])}">
                    <img class="media-object" style="height:64px;width:64px;" src="{$vo.image}" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{$vo.content}</h4>
                    <span class="pull-right">
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{$vo.time|date='Y-m-d H:i:s', ###}">{$vo.time|date='F d, Y', ###}</button>
                    </span>
                </div>
            </div>
            <div style="height:20px"></div>
        </volist>
        </div>
</div>
</block>
