
<extend name="Public:base" />
<block name="content">
<div class="container marketing note" >

    <div class="col-md-12 col-sm-12 col-xs-12 left">
        <notempty name="page_title">
            <div class="page-title">
                <h4 class="text-uppercase">
                    {$page_title}
                </h4>
            </div>
        </notempty>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 left">
        <volist name="list" id="vo">
            <div class="media" >
                <a class="media-left" href="{$vo.userUrl}" target="_blank">
                    <img src="{$vo.image}" style="width:64px;height:64px;" alt="Not Image">
                </a>
                <div class="media-body">
                    <h4>
                        <b><a href="{$vo.userUrl}" class="text-uppercase" target="_blank">{$vo.name}</a></b>
                        &nbsp;&nbsp;&nbsp;

                        <a href="#comment-post" onclick="setCommentPidOid(0, {$vo.id});" class="reply-click" >{$vo.createtime|date = 'F d, Y', ###} AT {$vo.createtime|date='g:i A', ###}</a>
                    </h4>
                    <div class="comment-content"><textarea hidden="hidden">{$vo.content}</textarea></div>

                    <h4 class="reply-action"><a href="#comment-post" class="reply-click" onclick="setCommentPidOid(0, {$vo.id});">REPLY</a></h4>
                    <?php echo W('Comment/index',array($cid, $vo['id'], false)); ?>


                </div>
            </div>
        </volist>
        <include file="Comment:post" />
    </div>
</div>
</block>
