
    <notempty name="articleList">
        <volist name="articleList" id="vo">
            <div class="col-lg-4 view-summary-div">
                <div class="view-summary">
                    <div class="view-summary-1">
                        <empty name="vo.image">
                            <img class="article-view-image" articledesc="{$vo.description}" title="{$vo.title}" articleUrl="{:U('Home/Article/view',array('id' => $vo['id']))}" alt="{$vo.title}"  class="img-thumbnail" src="__IMG__/default.jpg">
                        <else />
                            <img alt="{$vo.title}" class="article-view-image" articledesc="{$vo.description}" title="{$vo.title}" articleUrl="{:U('Home/Article/view',array('id' => $vo['id']))}" src="__UPLOAD__{$vo.image|getThunmName}">
                        </empty>
                        <span class="interaction-count"><span class="dt">Interaction count:</span>{$vo.click}<span class="glyphicon glyphicon-share-alt"></span></span>
                        <div class="view-content">
                            <span class="tags" ><a href="{:U('Home/Category/index', array('cid' => $vo['cid']))}" class="parsed" >{$vo.cname}</a></span>
                            <a href="{:U('Home/Article/view',array('id' => $vo['id']))}"><h5 class="view-h2">{$vo.title}</h5></a>
                            <p class="article-description">
                                {$vo.description|msubstr=0,80}
                                &nbsp;&nbsp;&nbsp;<neq name="vo.source" value="0"><a target="_blank" href="{$vo.source_link}">转载</a></neq>
                            </p>
                        </div>
                    </div>
                    <div class="meta">
                        <span class="author"><span class="dt">Author:</span> <a href="{:U('Home/User/admin', array('id' => $vo['adminid']))}">{$vo.adminname}</a></span>
                        <span class="publish-date pull-right"><span class="dt">Publish date:</span> <span class="dd" itemprop="datePublished">{$vo.createtime|date='F d, Y', ###}</span></span>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
        </volist>
    </notempty>
