<style>
    .upload-network, .upload-local {
        padding: 20px;
        margin: 20px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
        border-left-color: #5bc0de;
    }
    #show-system-tag {
        padding-bottom: 20px;
    }

</style>

<!-- insert file modal -->
<div class="modal fade" id="modal-insertFile" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" >插入文件</h3>
            </div>
            <div class="modal-body form-horizontal">
                <div class="upload-network">
                    <h4><b>网络文件</b></h4>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" > 网络文件 </label>
                        <div class="col-sm-7">
                            <input class="form-control" value="" id="file-url" placeholder="URL" type="text" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" > 文件说明 </label>
                        <div class="col-sm-7">
                            <input class="form-control" value="" id="file-info" placeholder="文件说明" type="text" >
                        </div>
                    </div>
                </div>

                <div class="upload-local">
                    <h4><b>上传本地文件</b></h4>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-12 control-label no-padding-right" > 文件 </label>
                        <div class="col-sm-8 col-xs-12">

                            <input type="file" title="选择本地文件" id="upload-file-input" name="upload-file-input">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-12 control-label no-padding-right" > &nbsp; </label>
                        <div class="col-sm-8 col-xs-12">
                            <button id="upload-file-to-server" class="btn" type="button">上传</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="insert-file-to-editor" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.mod -->


<div class="modal fade" id="modal-insertCode" tabindex="-1" role="dialog">

    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" >插入代码</h3>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">                               
				    <div class="col-sm-12">
                        <textarea rows="16" cols="63" id="code-textarea" placeholder="写入代码" style=" width: 610px; " ></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="clear-code-textarea" class="btn btn-default" >清空</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="insert-code-to-editor" class="btn btn-primary" >添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.mod -->


<div class="modal fade" id="modal-insertImage" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" >插入图片</h3>
            </div>
            <div class="modal-body form-horizontal">
                <div class="upload-network">
                    <h4><b>网络图片</b></h4>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" > 网络图片 </label>
                        <div class="col-sm-7">
                            <input class="form-control" value="" id="image-url" placeholder="URL" type="text" >
                        </div>
                    </div>
                </div>

                <div class="upload-local">
                    <h4><b>上传本地图片</b></h4>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-12 control-label no-padding-right" > 图片 </label>
                        <div class="col-sm-8 col-xs-12">

                            <input type="file" title="选择本地图片" id="upload-image-input" name="upload-image-input">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-12 control-label no-padding-right" > &nbsp; </label>
                        <div class="col-sm-8 col-xs-12">
                            <button id="upload-image-to-server" class="btn" type="button">上传</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="insert-image-to-editor" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.mod -->


<script>

    // declare a global var range to save range
    var range;
    function insertElementAtCursor(element) {
        var sel, range;
        if (window.getSelection) {
            sel = window.getSelection();
            if (sel.getRangeAt && sel.rangeCount) {
                range = sel.getRangeAt(0);
                range.deleteContents();
                range.insertNode( element );
            }
        } else if (document.selection && document.selection.createRange) {
            // 原始IE是下句，　后面的没有测试不知道能否使用
            //document.selection.createRange().text = text;
            document.selection.createRange().insertNode(element);
        }
    }


    $(".test").click(function(){
        restoreSelection();
        var element = document.createElement('b');
        element.appendChild(document.createTextNode("fffffff"));
        insertElementAtCursor(element);
    });

    // save selection to window.range
    function saveSelection() {
        if (window.getSelection) {
            sel = window.getSelection();
            if (sel.getRangeAt && sel.rangeCount) {
                window.range = sel.getRangeAt(0);
            }
        } else if (document.selection && document.selection.createRange) {
            window.range =  document.selection.createRange();
        }
    }

    // restore selection from window.range
    function restoreSelection() {
        if (window.range) {
            if (window.getSelection) {
                sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(window.range);
            } else if (document.selection && window.range.select) {
                window.range.select();
            }
        }
    }

    function initEditorPage() {
        // sort btn
        var sortstr = "{$vo.sort}";
        var sort = Number(sortstr);
        $('#sort').ace_spinner({value: sort ,min:-500,max:500,step:10, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});

        var status = "{$vo.status}"; //设置初始状态
        if (status == 1) {
            document.getElementById("status").checked=true
        }

    }

    function insertFileToServer() {
        var url = "{:U('Article/upload')}";
        uploadFileToServer(url, 'upload-file-input', 'file-url');
    }

    function insertFileToEditor() {
        var fileUrl = $("#file-url").val();
        var fileInfo = $("#file-info").val();
        if(fileInfo == '') {
            $('#file-info').focus();
            alert("说明必须!");
            return false;
        }
        if(fileUrl == '') {
            $('#file-url').focus();
            alert("文件必须!");
            return false;
        }

        restoreSelection();
        var element = document.createElement('a');
        element.setAttribute('href', fileUrl);
        element.appendChild(document.createTextNode(fileInfo));
        insertElementAtCursor(element);

        $('#file-url').val("");//文件链接
        $('#file-info').val("");//文件
        $('#upload-file-input').val("");
        $('#modal-insertFile').modal('hide')
    }

    function insertImageToServer() {
        var url = "{:U('Article/uploadImage')}";
        uploadFileToServer(url, 'upload-image-input', 'image-url');
    }

    function insertImageToEditor() {
        var imageUrl = $('#image-url').val();
        if(imageUrl == '') {
            $('#image-url').focus();
            alert("图片必须!");
            return false;
        }

        restoreSelection();
        var element = document.createElement('img');
        element.setAttribute('src', imageUrl);
        insertElementAtCursor(element);
        $('#image-url').val("");//文件链接
        $('#upload-image-input').val("");
        $('#modal-insertImage').modal('hide')
    }

    function insertCodeToEditor() {
        var code = $("#code-textarea").val();
        code = initCodeStr(code);
        restoreSelection();
        var element = document.createElement('pre');
        element.appendChild(document.createTextNode(code));
        var ele = document.createElement('br');
        insertElementAtCursor(ele);
        insertElementAtCursor(element);
        $('#code-textarea').val("");
        $('#modal-insertCode').modal('hide');
    }

    $(document).ready(function(){
        // when mouseleave to saveSelection
        $("#editor1").mouseleave(function(){
            saveSelection();
        });

        initEditorPage();

        $("#upload-file-to-server").on('click', insertFileToServer); //上传文件
        $("#insert-file-to-editor").on('click', insertFileToEditor);

        $("#upload-image-to-server").on('click', insertImageToServer);
        $("#insert-image-to-editor").on('click', insertImageToEditor);

        $("#insert-code-to-editor").on('click',insertCodeToEditor);

        $("#clear-code-textarea").on('click',function(){ //clear代码
            $('#code-textarea').val("");
        });


    });
    function initCodeStr(str)  {
        str = str.replace(/&/g, '&amp;');
        str = str.replace(/</g, '&lt;');
        str = str.replace(/>/g, '&gt;');
        return str;
    }
</script>

<!-- insertFile modal -->
<!-- page specific plugin scripts -->
<script src="__ACE__/js/jquery.hotkeys.min.js"></script>
<script src="__ACE__/js/bootbox.min.js"></script>
<script src="__ACE__/js/bootstrap-wysiwyg.min.js"></script>
<script type="text/javascript">
/*  ajax 上传文件　*/
function uploadFileToServer(url, fileid, inputid){
    $.ajaxFileUpload({
        url: url,//用于文件上传的服务器端请求的Action地址
        type: "post",//请求方法
        secureuri: false,//一般设置为false
        fileElementId: fileid,//文件id属性  <input type="file" id="upload" name="upload" />
        dataType: "JSON",
        success: function(data){
            var data = JSON.parse(data);
            if(data.code == 0) {
                $('#'+inputid).val(data.msg);//文件链接
            } else {
                alert(data.msg);
            }
        }
    });
}

$(document).ready(function(){
    $("form").submit(function(e){
        $('pre').each(function() {
            $(this).html(initCodeStr($(this).html()));
        });
        $("#content").html($("#editor1").html());
    });
});

jQuery(function($){

    function showErrorAlert (reason, detail) {
        var msg='';
        if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
        else {
            console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
        '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
    }

    //but we want to change a few buttons colors for the third style
    $('#editor1').ace_wysiwyg({
        toolbar:
        [
            'font',
            null,
            'fontSize',
            null,
            {name:'bold', className:'btn-info'},
            {name:'italic', className:'btn-info'},
            {name:'strikethrough', className:'btn-info'},
            {name:'underline', className:'btn-info'},
            null,
            {name:'insertunorderedlist', className:'btn-success'},
            {name:'insertorderedlist', className:'btn-success'},
            {name:'outdent', className:'btn-purple'},
            {name:'indent', className:'btn-purple'},
            null,
            {name:'justifyleft', className:'btn-primary'},
            {name:'justifycenter', className:'btn-primary'},
            {name:'justifyright', className:'btn-primary'},
            {name:'justifyfull', className:'btn-inverse'},
            null,
            {name:'createLink', className:'btn-pink'},
            {name:'unlink', className:'btn-pink'},
            null,
            {name:'insertImage', className:'btn-success'},
            null,
            'insertFile',
            null,
            'insertCode',
            null,
            'foreColor',
            null,
            'backColor',
            null,
            //'backColor',
            {name:'undo', className:'btn-grey'},
            {name:'redo', className:'btn-grey'},
            'viewSource'
        ],
        'wysiwyg': {
            fileUploadError: showErrorAlert
        }
    }).prev().addClass('wysiwyg-style2');




    $('[data-toggle="buttons"] .btn').on('click', function(e){
        var target = $(this).find('input[type=radio]');
        var which = parseInt(target.val());
        var toolbar = $('#editor1').prev().get(0);
        if(which == 1 || which == 2 || which == 3) {
            toolbar.className = toolbar.className.replace(/wysiwyg\-style(1|2)/g , '');
            if(which == 1) $(toolbar).addClass('wysiwyg-style1');
            else if(which == 2) $(toolbar).addClass('wysiwyg-style2');
        }
    });




});
</script>

<style>
    .delete-tag {
        padding-top: 5px;padding-bottom: 5px;
    }
</style>
<script>
    function addTag(tag) {
        if (include(window.tagArray, tag) != true) {
            $("#add_tag").val("");
            window.tagArray.push(tag);
            $("#show_tag").append(getTagHtml(tag));

            //必须再次绑定事件；
            $('.delete-tag').on('closed.bs.alert', function () {
                var tag = $(this).attr("tag");
                var index = window.tagArray.indexOf(tag);
                if (index > -1) {
                    window.tagArray.splice(index, 1);
                    updataTagDataToInput();
                }
            });

            //$("#show_tag").html(html);
            updataTagDataToInput();
        }
    }

    /**
     * find obj is in array
     * @param arr
     * @param obj
     * @returns {boolean}
     */
    function include(arr, obj) {
        for(var i=0; i<arr.length; i++) {
            if (arr[i] == obj) return true;
        }
    }

    /**
     * update tag data to input
     */
    function updataTagDataToInput() {
        $("#tags").val(JSON.stringify(window.tagArray));
    }

    /**
     * init tags html when edit a forum
     * @param arr
     */
    function initTagsHtml(arr) {
        var html = "";
        for(var i=0; i<arr.length; i++) {
            html += getTagHtml(arr[i])
        }
        $("#show_tag").html(html);
        updataTagDataToInput();
    }

    function isChinese(temp)
    {
        var re=/[^\u4e00-\u9fa5]/;
        if(re.test(temp)) return false;
        return true;
    }
    /**
     * get a tag dialog html
     * @param tag
     * @returns {string}
     */
    function getTagHtml(tag) {
        if (isChinese(tag)) {
            var len = tag.length * 30;
        } else {
            var len = tag.length * 20;
        }
        if (len < 75) {
            len = 75;
        }
        console.log(tag.length);

        var html = '<div class="col-sm-2 alert alert-success alert-dismissible fade in delete-tag" tag="' + tag + '" style="margin-right:10px; width:' + len + 'px;" role="alert"> <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button> <strong class="text-uppercase">' + tag + '</strong> </div>';
        return html;
    }

    /**
     * init some var
     */
    var tags = '{$tags}';
    if (tags !== "false" && tags !== '') {
        var tagArray = JSON.parse(tags);
        initTagsHtml(tagArray);
    } else {

        var tagArray = new Array();
    }


    $(document).ready(function() {
        /**
         * when detete a tag remove from tag array
         */
        $('.delete-tag').on('closed.bs.alert', function () {
            var tag = $(this).attr("tag");

            var index = window.tagArray.indexOf(tag);
            if (index > -1) {
                window.tagArray.splice(index, 1);
                updataTagDataToInput();
            }
        });
        $(".system-tag").click(function () {
            var tag = $(this).attr("val");
            addTag(tag);

        });

        $(".select-system-tag").click(function () {
            if ($("#show-system-tag").css("display") == "none") {
                $("#show-system-tag").css("display", "block");
            } else {
                $("#show-system-tag").css("display", "none");
            }
        });

        /**
         * when add a tag
         */
        $(".add_tag").click(function () {
            var html = $("#show_tag").html();
            var tag = $("#add_tag").val();
            tag = tag.toUpperCase();
            if (tag == '') {
                $("#add_tag").focus();
            } else {
                addTag(tag);
            }
        });


    });
</script>
<include file="Public:footer" />
