        <include file="Public:header" />
							<div class="col-xs-12" style="padding-right: 40px; padding-left: 40px; ">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li>
                                            <a data-toggle="tab" href="#add-photo">
                                                <i class="green icon-desktop bigger-110"></i>
                                                修改相册
                                            </a>
                                        </li>

                                        <li class="active">
                                            <a data-toggle="tab" href="#add-image">
                                                <i class="green icon-picture bigger-110"></i>
                                                修改图片
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#manage-image">
                                                <i class="green icon-picture bigger-110"></i>
                                                查看相片
                                            </a>
                                        </li>

                                    </ul>

                                    <div class="tab-content">
                                        <include file="Photo:add-photo" />
                                        <include file="Photo:add-image" />
                                        <include file="Photo:manage-image" />

                                    </div>
                                </div>



        
        <include file="Photo:edit-footer" />
