<footer>
    <!-- markdown editor -->
    <link rel="stylesheet" href="__MARKDOWN__/dist/simplemde.min.css">
    <script src="__MARKDOWN__/dist/simplemde.min.js"></script>
    <link href="__CSS__/github.min.css" rel="stylesheet">
    <script src="__JS__/highlight.min.js"></script>


    <!-- Bootstrap core CSS -->
    <link href="__BS__/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/admin.css" rel="stylesheet">

    <!-- Link javascript -->
    <script src="__JS__/admin.js"></script>

    <script src="__BS__/js/bootstrap.min.js"></script>

    <!-- link sweet alert -->
    <script src="__SWEETALERT__/lib/sweet-alert.min.js"></script>

    <link href="__SWEETALERT__/lib/sweet-alert.css" rel="stylesheet">

    <!-- link bootstrap switch -->
    <link href="__BS_SWITCH__/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <script src="__BS_SWITCH__/dist/js/bootstrap-switch.js"></script>


    <link href="__BS_TABLES__/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="__BS_TABLES__/dist/bootstrap-table.min.js"></script>

    <!--<script src="__CKEDITOR__/ckeditor.js"></script>-->
    <!--<script type="text/javascript" src="/plugin/ckfinder/ckfinder.js"></script>-->


    <script src="__BS_GALLERY__/js/jquery.blueimp-gallery.min.js"></script>
    <script src="__BS_GALLERY__/js/bootstrap-image-gallery.min.js"></script>

    <link rel="stylesheet" href="__BS_GALLERY__/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="__BS_GALLERY__/css/bootstrap-image-gallery.min.css">




</footer>
