<link rel="stylesheet" href="__JSTREE__/dist/themes/proton/style.min.css" />
<script src="__JSTREE__/dist/jstree.min.js"></script>

<div id="slide-bar" >
</div>
<script>
    $(document).ready(function(){
        $('#slide-bar').jstree({
            "plugins" : [ "wholerow"],
            'core': {
                'data': {$slide_data},
                'themes': {
                    'name': 'proton',
                    'responsive': true
                },
            }
        });
    });
</script>