<link rel="stylesheet" href="__SUMMERNOTE__/dist/font-awesome.min.css" />
<link href="__SUMMERNOTE__/dist/summernote.css" rel="stylesheet">
<script src="__SUMMERNOTE__/dist/summernote.js"></script>
<script src="__SUMMERNOTE__/plugin/summernote-ext-fontstyle.js"></script>



<div id="comment-post">
    <h2 id="reply-title" class="comment-reply-title">
        Leave a Reply
    </h2>
    <input id="comment-pid" type="hidden" value="0">
    <input id="comment-oid" type="hidden" value="{$oid}">
    <notempty name="uid">
    <p class="logged-in-as">
        Logged in as
        <a href="{:U('User/index' .C('URL_HASH'))}">{$commentUserInfo.name}</a>.
        <a href="{:U('User/logout')}">Log out?</a>
    </p>


    <input id="comment-name" type="hidden" class="form-control" placeholder="Username" value="{$commentUserInfo.name}">
    <input id="comment-email" type="hidden" class="form-control" placeholder="User Email" value="{$commentUserInfo.email}">
    <input id="comment-website" type="hidden" class="form-control" placeholder="Website" value="{$commentUserInfo.website}">
        <else />
    <p class="comment-notes">
            Your email address will not be published. Required fields are marked
            <span class="required">*</span>,
            You could <a href="{:U('User/login' .C('URL_HASH'))}">login</a>
    </p>
    <div class="input-group input-group-lg">
        <span class="input-group-addon">User Name&nbsp;*</span>
        <input id="comment-name" type="text" class="form-control" placeholder="Username" value="{$commentUserInfo.name}">
    </div>

    <div class="input-group input-group-lg">
        <span class="input-group-addon">User Email&nbsp;*</span>
        <input id="comment-email" type="text" class="form-control" placeholder="User Email" value="{$commentUserInfo.email}">
    </div>

    <div class="input-group input-group-lg">
        <span class="input-group-addon">Website</span>
        <input id="comment-website" type="text" class="form-control" placeholder="Website" value="{$commentUserInfo.website}">
    </div>

    </notempty>


    <textarea id="postcontent"> </textarea>
    <div class="comment-not-allowed-tags">
        You can't use these HTML tags and attributes: <code>&lt;a href="" title=""&gt;  &lt; script &gt;</code>
    </div>
    <div class="comment-submit">
        <button type="button" onclick="postComment();" class="btn btn-default btn-lg">
            Post Submit
        </button>

    </div>

    <div id="show-error"></div>
</div>
<script>
    $(document).ready(function () {
        $('#postcontent').summernote({
            height: 300,                 // set editor height

            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false,    // set focus to editable area after initializing summernote
            toolbar: [
                //[groupname, [button list]]
                ['style', ['style']],
                ['format', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['table', 'hr']],
                ['height', ['height']],
            ]
        });
    });
    function postComment() {
        var userName = getInputVal('name', true);
        var userEmail = getInputVal('email', true);
        var pid = getInputVal('pid', true);
        var userWebsite = getInputVal('website', false);
        var content = $("#postcontent").code();
        if (content == '') {

            showError('content can not empty!')
            return ;
        }
        //console.log(content);
        var oid = getInputVal("oid", true);
        console.log(window.getInputValError);
        if (window.getInputValError  == undefined || window.getInputValError == false) {

            ajaxPostComment(userName, userEmail, userWebsite, content, pid, oid);
            window.getInputValError = false;
        }

    }

    function setCommentPidOid(pid, oid) {
        $('#comment-pid').val(pid);
        $('#comment-oid').val(oid);

    }


    function getInputVal(subInputId, requied) {
        var val = $("#comment-" + subInputId).val();
        if (requied === true) {
            if (val == '') {
                showError(subInputId + ' can not empty!')
                $("#comment-" + subInputId).focus();
                window.getInputValError = true;
            }
        }
        return val;
    }

    function showError(msg) {
        var html = '<div class="alert alert-warning alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button> <strong>';

        html += 'Add Comment Fail！</strong> message：' + msg + ' . </div>';
        $('#show-error').html(html);
    }

    function ajaxPostComment(name, email, website, content, pid, oid) {
        var uid = "{$uid}";
        var url = "{:U('Comment/add')}";
        var cid = "{$cid}";
        $.post(url, {
                pid: pid,
                oid: oid,
                cid: cid,
                uid: uid,
                name: name,
                email: email,
                website: website,
                content: content
            },
            function(data,status){
                if (status == 'success') {
                    data = JSON.parse(data);
                    if (0 == data.code) {
                        location.reload();
                    } else {
                        showError(data.msg);
                    }
                } else {
                    showError('post fail');
                }
            });

    }

</script>





