
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                            </div><!-- /.page-content -->
                        </div><!-- /.main-content -->
			    </div><!-- /.main-container-inner -->

	</div><!-- /.main-container -->
                <script src="__ACE__/js/fuelux/fuelux.spinner.min.js"></script>

        <include file="Public/modal" />
                                    <include file="Public/setting" />
                                    <include file="Public/scroll" />

</body>
</html>
