<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>ApacalBlog-后台管理系统</title>
		<meta name="keywords" content="ApacalBlog-后台管理系统{$keywords}" />
		<meta name="description" content="ApacalBlog-后台管理系统{$description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="__IMG__/log3.png">
		<!-- basic styles -->
		<link href="__CSS__/admin.css" rel="stylesheet" />
		<link href="__ACE__/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__ACE__/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__ACE__/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->
        <!--  开发去掉字体
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

-->
		<!-- ace styles -->

		<link rel="stylesheet" href="__ACE__/css/ace.min.css" />
		<link rel="stylesheet" href="__ACE__/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__ACE__/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__ACE__/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
		<script src="__JS__/admin.js"></script>

		<!-- ace settings handler -->

		<script src="__ACE__/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__ACE__/js/html5shiv.js"></script>
		<script src="__ACE__/js/respond.min.js"></script>
		<![endif]-->

		<!-- basic scripts -->

		<!--[if !IE]> -->


		<!-- <![endif]-->

		<script src="__ACE__/js/jquery-2.1.0.min.js"></script> 

		<!--[if IE]>
            <script src="__ACE__/js/jquery-1.10.2.min.js"></script>
        <![endif]-->


		<script src="__ACE__/js/bootstrap.min.js"></script>
		<script src="__ACE__/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__ACE__/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="__ACE__/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__ACE__/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__ACE__/js/jquery.slimscroll.min.js"></script>
		<script src="__ACE__/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__ACE__/js/jquery.sparkline.min.js"></script>
		<script src="__ACE__/js/flot/jquery.flot.min.js"></script>
		<script src="__ACE__/js/flot/jquery.flot.pie.min.js"></script>
		<script src="__ACE__/js/flot/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->

		<script src="__ACE__/js/ace-elements.min.js"></script>
		<script src="__ACE__/js/ace.min.js"></script>
        <!-- ajax 异步上传文件　-->
		<script src="__JS__/ajaxfileupload.js"></script>

	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							ApacalBlog-后台管理系统
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
                        <!--
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-tasks"></i>
								<span class="badge badge-grey">4</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="icon-ok"></i>
									还有4个任务完成
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">软件更新</span>
											<span class="pull-right">65%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:65%" class="progress-bar "></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">硬件更新</span>
											<span class="pull-right">35%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:35%" class="progress-bar progress-bar-danger"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">单元测试</span>
											<span class="pull-right">15%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:15%" class="progress-bar progress-bar-warning"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">错误修复</span>
											<span class="pull-right">90%</span>
										</div>

										<div class="progress progress-mini progress-striped active">
											<div style="width:90%" class="progress-bar progress-bar-success"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										查看任务详情
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

                        -->
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-trash "></i>
								<span class="badge badge-important"></span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" style="width:150px;">
								<li class="dropdown-header">
									<i class="icon-trash"></i>
								    清除缓存
								</li>

								<li>
									<a href="{:U('Admin/Del/delAllRuntime')}">
										<div class="clearfix">
											<span class="pull-left">
										        <i class="btn btn-xs btn-primary  icon-trash "></i>
												清除全部缓存
											</span>
										</div>
									</a>
								</li>

								<li>
									<a href="{:U('Admin/Del/delHomeRuntime')}">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs btn-info icon-trash"></i>
												清除前台缓存
											</span>
										</div>
									</a>
								</li>

								<li>
									<a href="{:U('Admin/Del/delAdminRuntime')}">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs btn-purple icon-trash "></i>
												清除后台缓存
											</span>
                                        </div>
									</a>
								</li>
							</ul>
						</li>
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="__UPLOAD__{$_SESSION['image']}" alt="{$_SESSION['adminname']}" />
								<span class="user-info">
									<small>欢迎光临,</small>
									{$_SESSION['adminname']}
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="__MODULE__/Admin/manage">
										<i class="icon-cog"></i>
										管理员管理
									</a>
								</li>

								<li>
									<a href="__MODULE__/Admin/index/">
										<i class="icon-user"></i>
										个人资料
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="__MODULE__/Public/logout">
										<i class="icon-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->
