<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>ApacalBlog-后台管理系统</title>
		<meta name="keywords" content="{:C('KEYWORDS')}" />
		<meta name="description" content="{:C('DESCRIPTION')}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="__IMG__/log3.png">


		<!-- basic styles -->
		<link href="__CSS__/admin.css" rel="stylesheet" />
		<link href="__ACE__/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__ACE__/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- fonts -->
        <!--  开发去掉字体
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

-->
		<!-- ace styles -->

		<link rel="stylesheet" href="__ACE__/css/ace.min.css" />
		<link rel="stylesheet" href="__ACE__/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__ACE__/css/ace-skins.min.css" />


		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="__ACE__/js/ace-extra.min.js"></script>



		<script src="__ACE__/js/jquery-2.1.0.min.js"></script> 



		<script src="__ACE__/js/bootstrap.min.js"></script>

        <script src="__ACE__/js/bootstrap.file-input.js"></script>
		<script src="__ACE__/js/typeahead-bs2.min.js"></script>


		<!-- ace scripts -->

		<script src="__ACE__/js/ace-elements.min.js"></script>
		<script src="__ACE__/js/ace.min.js"></script>

        <script src="__JS__/admin.js"></script>

	</head>

	<body class="skin-3">
        <include file="Public/navbar" />

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<div class="main-container-inner">
            <include file="Public/left-nav" />

                <div class="main-content">

                    <include file="Public/breadcrumbs" />


                    <div class="page-content">
                        <div class="page-header">
                            <h1>
                                <a href="{$pvo.url}">{$pvo.name}</a>
                                <small>
                                    <i class="icon-double-angle-right"></i>
                                    {$pvo.action}
                                </small>
                            </h1>
                        </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
