		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
                            {:C('SITE_NAME')}
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
                        <li class="purple">
                            <a href="{:U('Note/add')}">
                                <i class="icon-edit"></i>
                            </a>

                        </li>
                        <li class="green"><a href="__SITE_URL__/" target="_blank"><i class="icon-home home-icon"></i></a></li>
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-trash "></i>
								<span class="badge badge-important"></span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" style="width:150px;">
								<li class="dropdown-header">
									<i class="icon-trash"></i>
								    清除缓存
								</li>

								<li>
									<a href="{:U('Del/delAllRuntime')}">
										<div class="clearfix">
											<span class="pull-left">
										        <i class="btn btn-xs btn-primary  icon-trash "></i>
												清除全部缓存
											</span>
										</div>
									</a>
								</li>

								<li>
									<a href="{:U('Del/delHomeRuntime')}">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs btn-info icon-trash"></i>
												清除前台缓存
											</span>
										</div>
									</a>
								</li>

								<li>
									<a href="{:U('Del/delAdminRuntime')}">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs btn-purple icon-trash "></i>
												清除后台缓存
											</span>
                                        </div>
									</a>
								</li>
							</ul>
						</li>
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="{$userInfo.image}" alt="{$userInfo.name}" />
								<span class="user-info">
									<small>欢迎光临,</small>
									{$userInfo.name}
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="{:U('User/manage')}">
										<i class="icon-cog"></i>
										管理员管理
									</a>
								</li>

								<li>
									<a href="{:U('User/index')}">
										<i class="icon-user"></i>
										个人资料
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="{:U('/Home/User/logout')}">
										<i class="icon-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

