
                                    <!-- ====================================   全选，删除等等　==================================-->
                                    <div class="action-buttons" style="margin-left:180px; position: absolute;z-index: 5;left: 50px;top: 20px;">
                                        <a href="__CONTROLLER__/add"  data-toggle="tooltip" title="增加">  
                                            <span class="blue"><i class="icon-plus-sign purple bigger-150"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  
                                        </a>  
                                        <a data-toggle="tooltip" title="删除">  
                                            <span class="red"><i id="startDelete" class="icon-trash bigger-150"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
                                        </a> 
                                        <a data-toggle="tooltip" title="全选/全不选">  
                                            <span class="green"> <i id="selectAllCheck" style="width:19px" class="icon-check-empty bigger-150"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
                                        </a>  
                                    </div>
                                    <!-- ====================================   全选，删除等等　==================================-->
