
<!--  ============================ error modal    submit modal ==================-->
        <div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabeldel" aria-hidden="true">
              <div class="modal-dialog" style=" padding-top: 220px;">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-error-h">error</h4>
                  </div>
                  <div id="modal-error-body" class="modal-body">
                    msg
                  </div>
                  <div class="modal-footer">
                    <a><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a><button type="button" class="btn btn-primary" data-dismiss="modal">确定</button></a>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
        </div><!-- /.mod -->


        <!-- =====================================================================   删除全部确认　　========================================================== -->
        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabeldel" aria-hidden="true">
              <div class="modal-dialog" style=" padding-top: 220px;">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabeldel">警告您确定要删除</h4>
                  </div>
                  <div id="del-modal-body" class="modal-body">
                    这些选中的记录吗？
                  </div>
                  <div class="modal-footer">
                    <a><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a><button id = "deleteArticle" type="button" class="btn btn-primary">确定</button></a>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
        </div><!-- /.mod -->




        <!--　全选和删除　===================================-->
        <script>
			jQuery(function($) {
				$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
				});
			    $('#startDelete').on('click', function(){  //判断是否为空的选择
                    var elements = document.getElementsByName("checkid"); 
                    var str = '';
                    for(var i=0;i<elements.length;i++){ 
                        if(elements[i].checked){ 
                            str += "> " + elements[i].value + "\n"; 
                        } 
                    } 
                    // 输出 
                    if(str == ""){ 
                        $("#modal-error-h").html("请选择至少一条记录!");
                        $("#modal-error-body").html("请选择至少一条记录!");
                        $('#modal-error').modal('show')
                    } 
                    else{ 
                        $("#del-modal-body").html(str);
                        $('#modal-delete').modal('show')
                    } 
                });
			    $('#deleteArticle').on('click', function(){ // ajax异步删除
                    var elements = document.getElementsByName("checkid"); 
                    var ids = new Array();
                    var str = '';
                    for(var i=0;i<elements.length;i++){ 
                        if(elements[i].checked){ 
                            str += elements[i].value +　',';
                        } 
                    } 
                    var url = "__CONTROLLER__/foreverDel";
                    $.post(url, {'ids' : str} , function(data){
                        if(data != 1){
                            alert('请重试！');
                        }else{
                            $('#modal-delete').modal('hide')
                            //alert(data);
                            location.reload(true);
                        }
                    });
                    // 输出 
                });
			    $('#selectAllCheck').on('click', function(){     //全选/全不选点击事件
                    var classname = $('#selectAllCheck').attr("class");
                    var notSelectName = "icon-check-empty bigger-150";
                    var newClass = ' bigger-150';
                    if (classname == notSelectName) {
                        newClass = 'icon-check' + newClass;
                        $('#selectAllCheck').attr("class", newClass);
                        checkAll();
                    }else{
                        $('#selectAllCheck').attr("class", notSelectName);
                        uncheckAll();
                    }
                });
            });
        </script>
