
<extend name="Public:base" />

<block name="inner_js">
    <script language="javascript" type="text/javascript">
        window.onload = function() {
            var oTable = document.getElementById("myTab");
            for (var i = 0; i < oTable.rows.length; i++) {
                oTable.rows[i].cells[0].innerHTML = (oTable.rows.length - i);
                if (i % 2 == 0)    //偶数行
                    oTable.rows[i].className = "warning";
                else
                    oTable.rows[i].className = "active";
            }
        };
    </script>
</block>


<block name="content">
    <div class="container marketing thumbnail book" >

        <table class="table table-bordered table-hover ">
            <thead>
              <tr class="success">
                <th>#</th>
                <th>书籍</th>
                <th>时间</th>
                <th>感想</th>
              </tr>
            </thead>
            <tbody id="myTab">
                <volist name="list" id="vo">

                    <tr>
                        <td></td>
                        <td>{$vo.name}</td>
                        <td>{$vo.time}</td>
                        <td>{$vo.content}</td>
                    </tr>
                </volist>
            </tbody>
        </table>

    </div>
</block>

