<extend name="Public:base" />
<block name="content">
    <div class="container content">
        <div class="col-md-8 col-sm-8 col-xs-12 left">
            <notempty name="page_title">
                <div class="page-title">
                    <h4 class="text-uppercase">
                        {$page_title}
                    </h4>
                </div>
            </notempty>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 left">
            <volist name="article_list" id="art_vo">

                <article>
                    <include file="Public:article-header" />
                    <div class="entry-content">{$art_vo.content}</div>
                    <div class="entry-more">

                        <a href="{$art_vo.url}" class="more-link btn-group btn-group-lg">

                            <button type="button" class="btn btn-default">
                                    Continue reading
                            </button>
                        </a>
                    </div>
                    <div class="entry-tags tag-links">
                        <volist name="art_vo.tags" id="tag_vo">
                            <a href="{$tag_vo.url}" rel="tag">{$tag_vo.name}</a>

                        </volist>
                    </div>

                </article>
            </volist>



            <?php if(!empty($old_url) || !empty($new_url)) { ?>
            <div class="entry-prev-next" style="margin-bottom:40px;margin-top:40px;">
                <div class="col-sm-6 col-xs-12">
                    <notempty name="old_url">

                        <a href="{$old_url}">
                            <h4>OLDER POSTS</h4>
                        </a>

                    </notempty>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <notempty name="new_url">
                        <a id="entry-next" href="{$new_url}">
                            <h4>NEWER POSTS</h4>
                        </a>
                    </notempty>
                </div>
            </div>
            <?php } ?>
        </div>

        <include file="Public:right" />
    </div>
</block>
