
<include file="Public/header" />

    <div class="container marketing" style=" margin-top: 80px; ">
        <div class="row">
            <h1>文章搜索<span class="hot-count" style=" height: 25px; margin-top: 6px; ">{$articleCount}</span></h1>


<div class="container marketing page-body">
    <div class="row view-summary-list" id="article-list-autoadd">
        <empty name="articleList">
            <h2 style=" margin-left: 15px; margin-bottom: 50px; ">没有搜索到你要的内容</h2>
        <else />
        <include file="Public:articleList" />
        </empty>
    
    </div>
</div>
        </div>
    </div>
    
    <!-- main -->
<include file="Public:footer" />
