
<include file="Public/header" />

    <div class="container marketing" style=" margin-top: 80px; ">
        <div class="row">
            <h1>文章归档<span class="hot-count" style=" height: 25px; margin-top: 6px; ">{$articleCount}</span></h1>

<div class="container marketing page-body">
    <div class="row view-summary-list" id="article-list-autoadd">
        <include file="Public:articleList" />
    
    </div>
</div>
        </div>
    </div>
    
    <!-- main -->
<include file="Public:footer" />
