<empty name="articleAddList">
    
<script type="text/javascript">
    $(function(){
        showTip(1, "已经到底了!");
    });
</script>
<else />
        <volist name="articleAddList" id="vo">

            <div class="col-lg-4 view-summary-div">
                <div class="view-summary">
                    <div class="view-summary-1">
                        <a href="__MODULE__/Article/view/id/{$vo.id}" class="view-img-a"><empty name="vo.image"><img alt="{$vo.title}"  class="img-thumbnail" src="__IMG__/default.jpg"><else /><img alt="{$vo.title}" class="img-thumnail" src="{$vo.image|getThunmName}"></empty></a>
                        <span class="interaction-count"><span class="dt">Interaction count:</span>{$vo.click}<span class="glyphicon glyphicon-share-alt"></span></span>
                        <div class="view-content">
                            <span class="tags" ><a href="__WEB_URL__/index.php/Category/index/cid/{$vo.cid}" class="parsed" >{$vo.cname}</a></span>
                            <a href="__MODULE__/Article/view/id/{$vo.id}"><h5 class="view-h2">{$vo.title}</h5></a>
                            <p class="article-description">{$vo.description|msubstr=0,80}</p>
                        </div>
                    </div>
                    <div class="meta">
                        <span class="author"><span class="dt">Author:</span> <a href="__MODULE__/User/admin/id/{$vo.adminid}">{$vo.adminname}</a></span>
                        <span class="publish-date pull-right"><span class="dt">Publish date:</span> <span class="dd" itemprop="datePublished">{$vo.createtime|date='F d, Y', ###}</span></span>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
        </volist>
</empty>
