
<div class="view-footer">
    <div class="container marketing">
        <div class="row view-summary-list">
            <div class="read-next">
                    <h2 style="margin-left: 16px;">Read Next</h2>
            <notempty name="articleList">
                    <include file="Public:articleList" />

            <else />
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>温馨提示</strong> 暂无上一篇和下两篇
                </div>
            </notempty>
            </div> <!-- end  read-next  -->
            <div class="view-comment">
                <ul class="nav nav-tabs" style=" margin-top: 20px; ">
                    <li class="active"><a href="#apacal" data-toggle="tab">Apacal</a></li>
                    <li><a href="#disqus" data-toggle="tab">Disqus</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="apacal">
                        <include file="Comment:index" />
                    </div>
                    <div class="tab-pane" id="disqus">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                            var disqus_shortname = 'apacalblog'; // required: replace example with your forum shortname

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">正在载入评论</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">正在载入评论<span class="logo-disqus">Disqus</span></a>
                    </div>
                </div>
                           
            </div>
    
        </div>
    </div>
</div>



