<include file="Comment:js" />
<div class="msg">
<div class="col-md-8">
    <div class="comments" id="main-comments">
        <div id="checkComment">
        <div id="publishComment" class="msghr" >
		<h3>
			<img src="__IMG__/write.gif"><span id="publish_comment" >&nbsp;&nbsp发表评论</span> <span class="pull-right"><a class="show-all" href="#">查看所有{$commentCount}条评论</a></span>
		</h3>
        </div>
        <p style="padding-top: 10px;">愿您的每句评论，都能给大家的生活添色彩，带来共鸣，带来思索，带来快乐。</p>
            <div class="add_comm">

                    <textarea class="form-control" rows="5" cols="60" id="commentcontent" placeholder="（必须）请说几句吧，200字以内..."></textarea>
                    <div class="comm-con">
                    <empty name="CURUSER.name">
                    <strong style="color: #BA141D;">署名：</strong>
                    <input type="text" onblur="if(this.value=='')this.value='匿名';" onfocus="if(this.value=='匿名')this.value='';" value="匿名" class="ipt-txt" size="36" id="author" name="author">
                    </ else>
					<input type="hidden" name="author" id="author" value="{$CURUSER.name}" />
					<input type="hidden" name="author_id" id="author_id" value="{$CURUSER.id}" />
                    </empty>
					<input type="hidden" name="pid" id="pid" value="0" />
					<input type="hidden" name="rid" id="rid" value="0" />
					<input type="hidden" name="aid" id="aid" value="{$article.id}" />
					<input type="hidden" name="cid" id="cid" value="{$article.cid}" />
                    <button type="submit" class="btn btn-info" id="btnComment"  name="btnComment" onclick="return addComment()">提交</button>
                    </div>
            </div>
            <div id="postTemp"></div>
        </div>

        <div class="check">
        <div class="msghr">
		<h3>
			<img src="__IMG__/commlist.gif"><span>&nbsp;&nbsp评论列表</span>
		</h3>
		</div> 
        <div class="commentlist unstyled" id="commentlist">
			<include file="Comment:comment" />
		</div>
		<div class="loadMoreComment">
		<if condition="$commentMore eq 1">
			<input type="hidden" name="loadMoreCommentParam" id="loadMoreCommentParam" value="0" />
			<a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block" onclick="loadMoreComment()">加载更多评论</a>

		</if>
		
		</div>
        </div>
    </div>
</div>
<div class="col-md-4" id="hotmsg">
    <div class="comments">
        <div class="msghr">
		<h3>
			<img src="__IMG__/commlist.gif"><span>&nbsp;&nbsp最热评论</span>
		</h3>
		</div> 
        <div class="commentlist" id="commentlist">
			<include file="Comment:hot" />
		</div>
    </div>
</div>

</div>
