<script type="text/javascript">
  	var aid = "{$article.id}";        
    var cid = "{$article.cid}";
      $(document).ready(function(){
      	$('#pid').attr('value',0);
		$('.comment-reply-link').click(function(){
			$('#pid').attr('value',$(this).attr('pid'));
			$('#rid').attr('value',$(this).attr('rid'));
			$('#publish_comment').html('&nbsp;&nbsp;回复评论给：'+$(this).attr('author'));
			$('#msgcontent').focus();
		})
      });  
      
      /**
       *判断提交的评论
       */
      function addComment(){
		if($('#adder_name').val()==''){
			showTip(false, '请填您的名字！');
			$('#adder_name').focus();
			return false;
		}
		if($('#msgcontent').val()==''){
			showTip(false, '请填写评论内容！');
			$('#msgcontent').focus();
			return false;
		}
		showTip(true, '正在提交，请稍等...');
		$.post("{:U('Home/Comment/add')}", {"content":$("#commentcontent").val(),"author":$("#author").val(),"oid":$("#aid").val(),"pid":$("#pid").val(),"author_id":$("#author_id").val(),"cid":$("#cid").val(),"rid":$("#rid").val()}, function(msg) {
			if(msg.ret == 0){
				showTip(true, '评论成功！');
                location.reload(true);
			}else{
				showTip(false, '评论失败，' + msg.error);
			}
		});
      }      
      /**
       * 赞成或不赞成评论
       * @param commentid , typeid, num, hot(是否为hot评论)
       */
      function commentVote(commentid, typeid,num, hot) {
         num++;
         if(hot == 2)
            hot = "-hot";
         else
             hot = "";
         $.ajax({
             type: "POST",
             url: "{:U('Home/Comment/vote')}",
             data: "id=" + commentid + "&typeid=" + typeid,
             success: function (msg) {
                     if (typeid == 1) {
                         // $("#agree" + commentid).replaceWith('<a>支持(' + msg + ')</a>');
                         $("#agree" + commentid + hot).text('支持(' + num + ')');
                         $("#agree" + commentid + hot).removeAttr("href");

                         $("#agree" + commentid + hot).css({ "position": "relative" });
                         $("#agree" + commentid + hot).append("<span class='flower'></span>");
                         $("#agree" + commentid + hot).find(".flower").css({ "position": "absolute", "text-align": "center", "left": "6px", "top": "-10px", "display": "block", "width": "30px", "height": "30px", "background": "url(__IMG__/agree.gif) left center no-repeat", "opacity": "0" }).animate({ top: '-30px', opacity: '1' }, 300, function () { $(this).delay(300).animate({ top: '-35px', opacity: '0' }, 300) });
                         $("#agree" + commentid + hot).find(".flower").removeClass();

                     }
                     else {
                         //  $("#disagree" + commentid).replaceWith('<a>反对(' + msg + ')</a>');
                         $("#disagree" + commentid + hot).text('反对(' + num + ')');
                         // $("#disagree" + commentid).attr("href", "javascript:void(0);");
                         $("#disagree" + commentid + hot).removeAttr("href");

                         $("#disagree" + commentid + hot).css({ "position": "relative" });
                         $("#disagree" + commentid + hot).append("<span class='shit'></span>");
                         $("#disagree" + commentid + hot).find(".shit").css({ "position": "absolute", "text-align": "center", "left": "6px", "top": "-60px", "display": "block", "width": "30px", "height": "30px", "background": "url(__IMG__/disagree.gif) left center no-repeat", "opacity": "0" }).animate({ top: '-30px', opacity: '1' }, 300, function () { $(this).delay(300).animate({ top: '-5px', opacity: '0' }, 300) });
                         $("#disagree" + commentid + hot).find(".shit").removeClass();
                 }
             }
         });
      }
      /**
       * 显示消息
       * @param mark 信息类型标记 msg 消息
       **/
      function showTip(mark, msg){
    	  if(!mark)
    		  $("#postTemp").html('<div class="alert alert-warning alert-dismissable">' + 
  		            '<button data-dismiss="alert" class="close" type="button">&times;</button>' +
  		            '<strong>错误提示：</strong> ' + msg +
  		          '</div>');
    	  else
    		  $("#postTemp").html('<div class="alert alert-info alert-dismissable">' + 
  		            '<button data-dismiss="alert" class="close" type="button">&times;</button>' +
  		            '<strong>温馨提示：</strong> ' + msg +
  		          '</div>');
      }
      
      function loadMoreComment(){
    	  var num = document.getElementById("loadMoreCommentParam").value;
    	  refreshAjaxDiv("{:U('Home/Comment/more')}", 'id={$article.id}&cid={$article.cid}&p=' + num, 'commentlist', true);
	 	  num++;
	 	  document.getElementById("loadMoreCommentParam").value = num;
      }
      
      function replyComment(cid) {
    	  $('#pid').attr('value',cid);
    	  document.getElementById("publish_comment").click();
      }
</script>
