        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="heading-password">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-password" aria-expanded="true" aria-controls="collapseOne">
                        <strong>  Change Password </strong>
                    </a>
                </h4>
            </div>
            <div id="collapse-password" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading-password">
                <div class="panel-body">
                    <form role="form" method="Post" action="{:U('User/savePassword')}">

                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="old_password" class="form-control" placeholder="Enter Old Password" required="true" />
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="password" class="form-control" placeholder="Enter New Password" required="true" />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="repassword" class="form-control" placeholder="Retype New Password" required="true" />
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                            <input type="text" name="verify" class="form-control" placeholder="Verify" required="true" />
                        </div>
                        <div class="form-group input-group">
                            <img class="img-thumbnail"   id="verify-img" src="{:U('Verify/index')}" onclick="this.src='/Verify/index/' + Math.random()" alt="点击刷新验证码" />
                        </div>

                        <button type="submit" class="btn btn-success pull-right">Save</button>
                    </form>
                </div>
            </div>
        </div>
