<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<title></title>
<link href="__CSS__/mobile_module.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<link href="{:ADDON_PUBLIC_PATH}/vote.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js?v={:SITE_VERSION}"></script>
<script type="text/javascript">
var cknums = {$info.cknums|intval};
var type = "{$info.type|intval}";
function checkForm(){
	return true;
	
	if(type=='0') return true;
	
	var content = '';
	var msg = 0;
	$("input[type='checkbox']:checked").each(function(){ msg += 1; });
	//console.log(msg);
	//return false;
	if(msg>cknums){
		$('#errorInfo').html('该投票最多可同时选择'+cknums+'项').show();
		return false;
	}

	return true;
}
</script>
</head>
<body>
<div class="container body">
	<div class="vote_wrap">
  <article>
    <h2>{$info.title}</h2>
    <div class="time">{$info.start_date|time_format}</div>
    <php>if(!empty($info['picurl'])) { </php>
    <img width="100%" src="{$info.picurl|get_cover_url}">
    <php> } </php>
    <p class="vote_info mb">{$info.info}</p>
    
  </article>
  <p class="vote_type">
      <php>if($info['type']==0) { $type='radio';echo '单选投票';}else{ $type='checkbox';echo '多选投票,&nbsp;最多可同时选择 '.$info['cknums'].' 项';}</php>
      <php>if($info['result_display']==0) {</php>
      ，<span class="gray">共有{$info.vote_count|intval}人已投票</span>
      <php>}</php>
    </p>
    
  <form id="form1" name="form1" method="post" action="{:U( 'join' )}" onSubmit="return checkForm();">
    <div class="clearfix choice_list">
      <ul>
        <volist name='opts' id='opt' key="k">
          <li>
            <php> if($info['is_img'] && !empty($opt['image'])) { </php>
            <p class="mb" ><img src="{$opt.image|get_cover_url}" /></p>
            <php> } </php>
            <p class="list"> <label><input type="{$type}" name="optArr[]" value="{$opt.id}"           
              <php>if(in_array($opt[id], $joinData)) echo 'checked="checked" '; if(!$canJoin) echo ' disabled'; </php>
              >
              {$opt.name}</label>
            </p>
            <div class="clearfix tb">
              <div class="databar fl flex_1">
                <div class="actual_data vote-per-{$k-1}" style="width:0%"></div>
              </div>
              <p class="fr flex_1">
                (<php>if($info['result_display']) { echo $opt[percent].'%'; } else { echo $opt[opt_count]; } </php>)
              </p>
            </div>
          </li>
        </volist>
      </ul>
    </div>
    
    <div class="warning" id="errorInfo"></div>
    <input type="hidden" value="{:I('token')}" name="token" />
    <input type="hidden" value="{:I('wecha_id')}" name="wecha_id" />
    <input type="hidden" value="{$info.id}" name="vote_id" />
    <php>if($canJoin) { </php>
    <input type="submit" class="button" value="确认提交" />
    <php> }else if(!empty($info['next_id'])) { $next_url = U('Vote/show','id='.$info['next_id'].'&token='.I('token').'&wecha_id='.I('wecha_id'));</php>
    <div class="tb"><input type="button" class="btn m_15 flex_1" onClick="window.location.href='{$next_url}'" value="继续投票" /></div>
    <php> } </php>
    
  </form>
  </div>
</div>
</body>
</html>
<script>
$(function(){
<php>
foreach($opts as $k=>$v){
echo '$(".vote-per-'.$k.'").animate( { width: "'.$v['percent'].'%"}, 5000);';
}
</php>
$(".list").live("click", function () {
     if ($(this).hasClass("bgBlue")) {
         $(this).removeClass("bgBlue").find("input").attr("checked", true);
     } else {
         $(this).addClass("bgBlue").find("input").attr("checked", false);
     }
 });
});
</script>