<include file="Public:header" />
    <form class="form-horizontal" role="form" enctype="multipart/form-data" action="{$action_url}" method="post">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 标题 </label>
            <div class="col-sm-9">
                <input type="text" placeholder="标题" value="{$vo.name}" name="name" class="col-xs-10 col-sm-5" required />
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">父Menu </label>
            <div class="col-sm-9">
                    <select class="col-xs-10 col-sm-5" name="pid"  required>
                        <empty name="vo.pid">
                            <?php if ($vo['pid'] == 0 && $vo['pid'] != '') { ?>
                                    <option value="{$vo.pid}">当前父Menu（根Menu）</option>
                            <?php } else { ?>
                                <option value="">请选择父Menu</option>
                            <?php } ?>

                            <else />
                                <option value="{$vo.pid}">当前父Menu（{$vo.pname}）</option>
                        </empty>
                        <option value="0">根Menu</option>
                        {$menuTree}
                    </select>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > Controller(控制器) </label>
            <div class="col-sm-9">
                <input type="text" value="{$vo.controller}" placeholder="Controller" name="controller" class="col-xs-10 col-sm-5" required />
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > Action(方法) </label>
            <div class="col-sm-9">
                <input type="text" value="{$vo.action}" placeholder="Action" name="action" class="col-xs-10 col-sm-5" required />
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 描述 </label>
            <div class="col-sm-9">
                <textarea row="10" placeholder="描述" style="height:100px" name="description" class="autosize-transition col-xs-10 col-sm-5" >{$vo.description}</textarea>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 图标 </label>
            <div class="col-sm-9 input-group" style="width:40%" >
                <input id="icon" type="text" class="form-control input-mask-product" name="icon">
                <span class="input-group-addon">
                    <a href="#" data-toggle="modal" data-target="#modal-icon">选择图标</a>
                </span>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 排序值 </label>
            <div class="col-sm-9">
                <input id="sort" type="text" class="input-mini" name="sort" maxlength="3">
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 状态 </label>
            <div class="col-sm-9">
                <label>
                    <input name="status" id="status" class="ace ace-switch ace-switch-7" type="checkbox">
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    清除
                </button>
            </div>
        </div>

    </form>

    <script> //初始状态js
        $(document).ready(function(){
            var status = "{$vo.status}"; //设置初始状态
            if (status == "1") { //状态位一
                document.getElementById("status").checked=true
            }
            //排序值加减按钮
            var sortstr = "{$vo.sort}";
            var sort = Number(sortstr);
            $('#sort').ace_spinner({value: sort ,min:-500,max:500,step:10, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
        });
    </script>

<include file="Menu:icon" />
<include file="Public:footer" />
