<include file="Public/header" />
<div class="view-main" >
    <div style="height:70px"></div>
    <div class="container marketing">
        <div class="row">

            <h3><font size="3">
                我叫钟庆柱，我不是高手，我也不是牛人，我只是在跟随着我的兴趣和喜好去学习一些技术。平常喜欢专研技术，爱写写博客，爱看书，爱文言文，想去学书法，平时也有打打单机游戏。</font></h3>

            <blockquote><h3><b><font size="5" face="Comic Sans MS">
                自我介绍
            </font></b></h3></blockquote>
            <font size="3"><font face="Comic Sans MS">
            2011-2014在南中国一般大学数学科学学院信息与计算科学专业读书。<br>
            大一开始接触编程，大二开始接触php, linux,有2年的php使用经验，php项目经验较丰富，但是看一些php方面的书。<br>
            个人喜爱unix like , c, c++, 看了大量c/c++方面的书籍，但是缺少项目操作经验。<br>
            个人职业规划为：坚持走unix like 后台方向，期间不断学习c/c++，学习tcp/ip等通信协议，学习unix like系统内核。<br>
            2014-5-13~2014-11-14 在猎豹移动实习，5个月在用php做一个game sdk 后台，期间对php有进一步了解，对redis，mysql有进一步了解，但是不是很高深的理解。后一个月使用python做一个备份项目的后台，主要负
            责数据监控的后台开发，期间学习了django 和tornado. 在这半年中给我最多的是如何使用一些ide，比如phpstorm, 
            pycharm, 进行一些调试，以前都是使用vim的，和vim对比，发现ide的各种好处，而vim也有很多优势。<br>
            2014-11-15~2015-6, 在学校和家学习tornado, c/c++, unix like编程， socket, 完善自己的博客。
            </font></font>

            <div style="height:50px"></div>
            <include file="Public/disqus" />
        </div>

    </div>

</div>
<include file="Public:footer" />
