
<tr>
    <td></td>
    <td>黑客与画家</td>
    <td>2014-08~2014-09</td>
    <td>充满离经叛道的洞见和实践的智慧</td>
</tr>
<tr>
    <td></td>
    <td>Vim实用技巧</td>
    <td>2014-07-28~</td>
    <td>vim技能提升的好书，有很多好的技巧，vim编辑思维。</td>
</tr>

<tr>
    <td></td>
    <td>大教堂与集市</td>
    <td>2014-07-28~2014-08-12</td>
    <td>开源运动的宣言，解析了开源运动，黑客，Geek，开源社区，开源集市开发以及传统大教堂开发模式。</td>
</tr>
<tr>
    <td></td>
    <td>浪潮之颠</td>
    <td>2014-06-30~2014-07-15</td>
    <td>一本介绍互联网公司和发展规律的书，看完自己知道了互联网，硅谷，美国，云计算，互联网2.0，浪潮．</td>
</tr>

<tr>
    <td></td>
    <td>Inside the c++ Object Model</td>
    <td>2014-04-15~2014-05</td>
    <td>一本关于C++底层机制的书籍，编译器开发者来给程序员讲C++编译器背着我们做了些什么事，一本应该放在书架，时不时拿来看看的好书！</td>
</tr>

<tr>
    <td></td>
    <td>深入理解计算机系统</td>
    <td>2014~</td>
    <td>程序员必须之物，不解释</td>
</tr>

<tr>
    <td></td>
    <td>算法导论</td>
    <td>2014~</td>
    <td>程序员必须之物，不解释</td>
</tr>


<tr>
    <td></td>
    <td>TCP/IP协议详解</td>
    <td>2014~</td>
    <td>网络编程的必备，但是比较难懂。</td>
</tr>
<tr>
    <td></td>
    <td>Unix 环境高级编程</td>
    <td>2014-04-5~</td>
    <td>主要讲述UNIX系统的程序设计接口，系统调用接口和标准C库函数，UNIX平台必备宝典！</td>
</tr>

<tr>
    <td></td>
    <td>鸟哥的Linux私房菜</td>
    <td>2014-04~</td>
    <td>以独特的视野，独特的语言来讲解Linux，Linux使用者的参考手册，比Running Linux更适合作为参考手册（它翻译太烂了，最新版的没有中文版，英文版没有影印的，买不起）</td>
</tr>

<tr>
    <td></td>
    <td>C++Primer</td>
    <td>2013-03~</td>
    <td>C++参考大全，C++学习必不可少的字典，需要一字一字去读，去理解。我5年内能好好理解它就好。</td>
</tr>



<tr>
    <td></td>
    <td>异侠</td>
    <td>2007~</td>
    <td>一本玄幻小说，一本从03年就连载到现在还没有完的小说，讲一个屌丝如何保护自己在乎的人，前面一部很不错，到主角被封印之后就不怎么好看了。</td>
</tr>
