
    <notempty name="articleList">
        <volist name="articleList" id="vo" key="k">
        <div class="col-sm-12 col-md-6 col-lg-4" style="<?php if($k % 3 == 1) echo 'clear:left;' ?>">
                <div class="thumbnail">
                            <empty name="vo.image">
                                <img class="article-view-image img-thumbnail" articledesc="{$vo.description}" title="{$vo.title}" articleUrl="{:U('article/'.$vo['id'])}" alt="{$vo.title}"  class="img-thumbnail" src="__IMG__/default.jpg">
                            <else />
                                <img alt="{$vo.title}" class="article-view-image img-thumbnail" articledesc="{$vo.description}" title="{$vo.title}" articleUrl="{:U('article/'.$vo['id'])}" src="__UPLOAD__{$vo.image|getThunmName}">
                            </empty>
                            <span class="interaction-count"><span class="dt">Interaction count:</span>{$vo.click}<span class="glyphicon glyphicon-share-alt"></span></span>

                        <div class="caption">
                            <a href="{:U('article/'.$vo['id'])}"><h4><b>{$vo.title}</b></h4></a>
                            <p class="article-description" data-toggle="tooltip" title="{$vo.description}">
                                {$vo.description}
                                &nbsp;&nbsp;&nbsp;<neq name="vo.source" value="0"><a target="_blank" href="{$vo.source_link}">转载</a></neq>
                            </p>
                        </div>
                    <div class="meta">
                        <div class="author">
                            <span class="dt">Author:</span> 
                            <a href="{:U('admin/'.$vo['adminid'])}">{$vo.adminname}</a>
                        </div> 

                        <div class="tags" >
                            <a href="{:U('category/'.$vo['cid'])}" class="parsed" >{$vo.cname}</a>
                        </div>

                        <div class="publish-date pull-right">
                            <span class="dt">Publish date:</span> 
                            <span class="dd" itemprop="datePublished">{$vo.createtime|date='F d, Y', ###}</span>
                        </div> 
                    </div> 
                </div>
            </div><!-- /.col-lg-4 -->
        </volist>
    </notempty>
