<!DOCTYPE html>
<html lang="en">
    <block name="header">
        <include file="Public:header" />
    </block>

    <body>
        <block name="header-wrapper">
            <div class="wrapper banner crossfade"data-crossfade-start="__IMG__/bg.jpg" data-crossfade-end="__IMG__/bg1.jpg" style="height: 362px">
                <img src="__IMG__/bg1.jpg" style="width:100%;height: 100%;">
                <div class="carousel-caption" id="header-info" style="top:15%">
                    <div class="blog-info" style="opacity: 1;">
                        <h3 class="blog-title">
                            <a href="http://apacal.cn" title="Keep It Simple, Stupid — open our mind" rel="home">Keep It Simple, Stupid</a>
                        </h3>
                        <h4 class="blog-description">open our mind</h4>
                    </div> <!-- /blog-info -->
                </div>
            </div>
        </block>

        <div id="main">

            <block name="nav">
                <include file="Public:nav" />
            </block>



            <block name="content">

            </block>

            <block name="inner_css">

            </block>

            <block name="inner_js">

            </block>

            <block name="footer">
                <include file="Public:footer" />
            </block>
            </div>
        <block name="js">
            <script type="text/javascript">
                $(document).ready(function(){
                    $('pre').attr('class','prettyprint linenums');
                    prettyPrint();
                    // 到底部
                    $('a.scrollToBottom').click(function(){
                        $('html, body').animate({scrollTop: $(document).height()}, 'slow');
                        return false;
                    });
                    // 到顶部
                    $('a.scrollToTop').click(function(){
                        $('html, body').animate({scrollTop:0}, 'slow');
                        return false;
                    });
                    $('#friendlink').change(function(){
                        if(this.value)
                            window.open(this.value);
                    });
                });

            </script> 
        </block>

    </body>
</html>
