<!DOCTYPE html>
<html lang="en">
    <block name="header">
        <include file="Home@simple/Public/header" />
    </block>

    <body>
        <block name="blog-info">
            <include file="Home@simple/Public/blog-info" />
        </block>

        <div id="main">

            <block name="nav">
                <include file="Home@simple/Public/nav" />
            </block>



            <block name="content">

            </block>

            <block name="ext_js">

            </block>

            <block name="inner_css">

            </block>


            <block name="inner_js">

            </block>

            <block name="footer">
                <include file="Home@simple/Public/footer" />
            </block>
        </div>
        <block name="js">
            <script type="text/javascript">
                    // 到底部
                    /*
                    $('a.scrollToBottom').click(function(){
                        $('html, body').animate({scrollTop: $(document).height()}, 'slow');
                        return false;
                    });
                    // 到顶部
                    $('a.scrollToTop').click(function(){
                        $('html, body').animate({scrollTop:0}, 'slow');
                        return false;
                    });
                    */
            </script>
        </block>

    </body>
</html>
