<footer>
    <!--
    <div id="scrollBtn">
        <a href="" class="scrollToTop" title="顶部" ><p class="scrollBtn-top"></p></a>
        <a  href="#comment-post" class="scrollToCenter" title="评论"><p class="scrollBtn-SNS"></p></a>
        <a href="" class="scrollToBottom" title="底部"><p class="scrollBtn-bottom"></p></a>
    </div>
    -->

    <div class="container marketing">

        <div class="col-sm-4 col-xs-12 follow-me">
            <div class="widgets">
                <h4>
                    FOLLOW ME ON
                </h4>
                <ul class="list-unstyled">
                    <li> <a href="https://github.com/apacal" target="_blank">github</a> </li>
                    <li> <a href="http://weibo.com/2526838991/profile?topnav=1&wvr=6" target="_blank">weibo</a> </li>
                    <li> <a href="http://music.163.com/#/user/home?id=18059001" target="_blank">music 163</a></li>
                    <li> <a href="http://user.qzone.qq.com/1612577280/profile" target="_blank">qzone</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12 links">
            <div class="widgets">
                <h4>
                    LINKS
                </h4>
                <ul class="list-unstyled">
                    <volist name="link_list" id="vo">
                        <li>
                            <a href="{$vo.url}" target="_blank">{$vo.title}</a>
                        </li>
                    </volist>

                </ul>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12 calendar">
            <div id="calendar" ></div>
        </div>
        <script>
        </script>


        <div class="col-sm-12 col-xs-12 site-info">
            <div class="col-sm-6 col-xs-12 text-uppercase">
                <p> © 2014 &nbsp;&nbsp;
                    <a href="{:C('SITE_URL')}" title="Keep It Simple, Stupid — open our mind" >Keep It Simple, Stupid</a>
                </p>
            </div>
            <div class="col-sm-6 col-xs-12 text-uppercase site-info-right">
                <p> power by  &nbsp;&nbsp;
                    <a href="{:C('SITE_URL')}" title="APACAL" >apacal</a>  —
                    <a class="scrollToTop" href="" >Up ↑</a>
                </p>
            </div>
        </div>
    </div> <!-- end footer -->




    <!-- Link javascript -->


    <script src="__JS__/simple.js"></script>

    <script src="__BS__/js/bootstrap.min.js"></script>

    <script src="__KALENDAR__/kalendar.js"></script>

    <!-- markdown editor -->
    <script src="__MARKDOWN__/dist/simplemde.min.js"></script>
    <script src="__JS__/highlight.min.js"></script>

    <div style="display:none">
        <textarea style="display:none" id="markdown-textarea">
    </textarea>

    </div>

</footer>
