<head>
    <title>{$title}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="baidu-site-verification" content="7wm8h4HH7a" />
    <meta name="google-site-verification" content="guD3Sz59BGqypw23UHNoo7IxOoUJy9R_xvs2LscKrGA" />
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <meta name="author" content="apacal">
    <meta property="qc:admins" content="1252700301314636" />


    <link rel="shortcut icon" href="__IMG__/log2.png">

    <script src="__JS__/jquery.js"></script>
    <!-- google-core-prettify  -->
    <link href="__CODE__/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="__CODE__/prettify.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="__BS__/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/simple.css" rel="stylesheet">

    <!-- Link javascript -->
    <script src="__JS__/simple.js"></script>

    <script src="__BS__/js/bootstrap.min.js"></script>

</head>
