

    <div id="nav-home" class="navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle nav-collapse" type="button">
                    <span class="sr-only">{:C('SITE_NAME_BAR')}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button data-target=".navbar-right-collapse" data-toggle="collapse" class="navbar-toggle nav-right-collapse" type="button">
                    <i class="glyphicon glyphicon-user"></i>
                </button>
            </div>
                <ul class="nav navbar-nav navbar-collapse collapse" id="home-nav">
                    <li><a href="__ROOT__/" class="text-uppercase">{:C('SITE_NAME')}</a></li>
                    {$nav_html}
                </ul>
                <ul id="nav-right" class="nav navbar-nav nav-right navbar-right-collapse navbar-collapse collapse">
                    <empty name="uid">
                        <li>
                            <a href="{:U('User/login' .C('URL_HASH'))}">Login</a>
                        </li>
                        <li>
                            <a href="{:U('User/register' .C('URL_HASH'))}">Register</a>
                        </li>
                        <else />
                        <?php if (is_admin()) {?>
                        <li>
                            <a href="<?php echo U('/Admin/Index/index'); ?>">
                                管理后台
                            </a>
                        </li>
                        <?php } ?>
                        <li>
                            <a href="{:U('User/index' .C('URL_HASH'))}">
                                <notempty name="userInfo.image">
                                    <img src="{$userInfo.image}" class="img-circle">
                                </notempty>
                                {$userInfo.name}
                            </a>
                        </li>
                        <li>
                            <a href="{:U('User/logout')}">
                                <i class="glyphicon glyphicon-off"></i>
                                Logout
                            </a>
                        </li>
                    </empty>
                </ul>
        </div>
    </div>

