

    <div id="nav-home" class="navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">{:C('SITE_NAME_BAR')}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="home-nav">
                    <li><a href="__ROOT__/">HOME</a></li>
                    {$navHtml}
                    <li><a href="{:U('book/my')}">书籍</a></li>
                    <li><a href="{:U('aboutme/my')}">About Me</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" action="{:U('search/my')}" method="post" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" name="content"  require />
                            </div>
                             <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </li>
              </ul>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <img style="width:100%; height: 422px;" src="http://s.cn.bing.net/az/hprichbg/rb/HanoiVietnam_ZH-CN14680778388_1920x1080.jpg">
        <img style="width:100%; height: 422px;" src="http://s.cn.bing.net/az/hprichbg/rb/HanoiVietnam_ZH-CN14680778388_1920x1080.jpg">
    </div>
