<div class="col-md-4 col-sm-4 col-xs-12 right">
    <div class=" widget entry-search">
        <form method="post" class="searchform" action="<?php echo U('/search' .C('URL_HASH'));?>">
            <input type="search" value="" placeholder="Search form" name="s" id="s">
            <input type="submit" id="searchsubmit" value="Search">
        </form>
    </div>

    <notempty name="recent_article_list">
    <div class="widget recent-article">
        <h3 class="text-uppercase">Recent Posts</h3>
        <ul class="list-unstyled">
            <volist name="recent_article_list" id="recent_vo" >
                <li>
                    <a href="{$recent_vo.url}"><h4>{$recent_vo.title}</h4></a>
                </li>
            </volist>
        </ul>
    </div>
    </notempty>

    <notempty name="recent_comment_list">
    <div class="widget recent-comment">
        <h3 class="text-uppercase">RECENT COMMENTS</h3>
        <ul class="list-unstyled">
            <volist name="recent_comment_list" id="comment_vo" >
                <li>
                    <h4>
                        <notempty name="comment_vo.userUrl">
                            <a href="{$comment_vo.userUrl}">
                                {$comment_vo.name}
                            </a>
                            <else />
                                {$comment_vo.name}
                        </notempty>
                         &nbsp; ON &nbsp;
                        <a href="{$comment_vo.url}">{$comment_vo.title}</a>
                    </h4>
                </li>
            </volist>
        </ul>
    </div>
    </notempty>

    <notempty name="archives_list">
    <div class="widget archives">
        <h3 class="text-uppercase">ARCHIVES</h3>
        <ul class="list-unstyled">
            <volist name="archives_list" id="archive_vo" >
                <li>
                    <h4>
                        <a href="{$archive_vo.url}">{$archive_vo.title}</a>
                    </h4>
                </li>
            </volist>
        </ul>
    </div>
    </notempty>

    <notempty name="tags_list">
    <div class="widget tags">
        <h3 class="text-uppercase">TAGS</h3>
        <div class="tags-cloud">
            <volist name="tags_list" id="tag_vo" >
                        <a href="{$tag_vo.url}">{$tag_vo.name}</a>
            </volist>
        </div>
    </div>
    </notempty>

    <div class="widget meta">
        <h3 class="text-uppercase">META</h3>

        <ul class="list-unstyled text-uppercase">
            <li>
                <h4>
                    <empty name="uid">
                        <a href="{:U('/Admin/Public/login')}" target="_blank">Log in</a>
                        <else />
                        <a href="{:U('/Admin/Public/logout')}" target="_blank">Log out</a>
                    </empty>
                </h4>
            </li>
        </ul>

    </div>
</div>
